// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pusher {
  .ui.attached.header {
    background-color: #e8e8e8;
  }

  .ui.form.group {
    .ui.vertical.segment {
      margin-top: 1em;
      margin-bottom: 2em;
    }

    input {
      margin-bottom: 0.5em;
    }
  }
}
